#home-header {
     background-color: #8BC34A66;
    #home_header-version {
        margin-top: -20px;
        margin-right: 13px;
        color: #5A9216;
    }
    #home_header-subtitle {
        margin-top: -10px;
        font-size: 16;
    }
}