#mycapturesdetail {
  #mycapturesdetail-header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  #icon, #see-image-icon {
    color: #8bc34a;
    padding-bottom: 5px;
    z-index: 9;
  }
  #see-image-icon {
    position: absolute;
    top:0.2em;
    right:0.5em;
    color: #bef67a;
  }
  #icon:hover, #see-image-icon:hover {
    cursor: pointer;
  }
  #photo-container {
    width: 450px;
    height: 450px;
    z-index: 2;
    display: inline-block;
    position: relative;
  }
  #info {
    width: 400px;
    text-align: justify;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  #see-avepedia-button {
    width: 180px;
  }
  .photo-button {
    width: 130px;
  }
}
