#capture-form {
    #waiting-picture {
        background-color: #bef67a;
        width: 350px;
        height: 350px;
        border-radius: 10px;
      }
      #waiting-picture-icon {
        color: #ffffff;
        font-size: 200px !important;
      }
      #picture-form {
        width: 350px;
      }
      #upload-picture-container {
        background-color: #bef67a;
        width: 350px;
        height: 350px;
        border-radius: 10px;
      }
      #upload-picture {
        max-width: 100%;
        max-height: 100%;
      }
}